/*
violet : #9356DC
rose : #FF79DA
vert : #99E2D0
*/

/* DÉBUT CSS VERSION MOBILE */

@media screen and (max-width: 768px) {

    header, section:first-child {
        text-align: center;
    }

    header {
        font-size: 36px;
        padding: 18px 0px 9px 0px;
    }
    
    p.localisation {
        background-color: #EAEAEA;
        box-shadow: inset 0px 3px 3px #CFCFCF;
        margin-top: 0;
        padding: 18px 0;
        font-weight: bold;
    }

    h1 {
        display: flex;
        justify-content: space-between;
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 25px;
        text-align: left;
    }
}


/* DÉBUT VERSION GÉNÉRALE */

body, ul, section {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.deco img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

main.menu {
    position: absolute;
    width: 100%;
    margin-top: -50px;
    border-radius: 50px;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

p {
    font-size: 0.8em;
}

p, h3 {
    text-align: left;
}

h3 {
    font-size: 1em;
}

main {
    background-color: #F6F6F6;
}

footer {
    background-color: #353535;
    padding: 20px 0 15px 0;
}

ul.menu_footer li:first-child {
    padding-bottom: 10px;
    font-size: 1.2em;
}

footer a {
    color: #fff;
    line-height: 1.8em;
    font-size: 0.9em;
}

.logo, .logo_footer, .logo_carte {
    font-family: Shrikhand, serif;
}

.logo_footer {
    font-size: 1em;
}

.logo_carte {
    font-size: 0.8em;
}

button.button_our-restaurants {
    border: none;
    font-size: 0.9em;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px;
    padding: 10px 40px;
    color: #fff;
    box-shadow: 3px 3px 10px #d1d0d0;
    margin: 45px 0 70px 0;
    font-weight: 595;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

button.button_our-restaurants:hover {
    background: linear-gradient(#f890db, #9d68df);
    box-shadow: 2px 2px 8px #bbbbbb;
}

ul.fonctions {
    margin-left: 25px;
}

ul.fonctions, ul.restaurants {
    margin-right: 10px;
}

ul.restaurants, h2 {
    margin-left: 10px;
    margin-top: 35px;
}

.menu_footer {
    margin-left: 25px;
}

.button_fonctions {
    border: none;
    text-align: left;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #d1d0d0;
    margin: 15px 0 30px 0;
    font-weight: 595;
}

.new {
    background-color: #99E2D0;
    color:#008766;
    padding: 5px 15px;
    border-radius: 3px;
    right: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: normal;
}

.box_restaurant {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0 20px;
    box-shadow: -2px -2px 6px rgba(230, 230, 230, 0.6), 4px 4px 12px rgba(217, 217, 217, 0.8);
    background-color: #fff;
}

.header_carte {
    margin: 0;
    padding: 0;
    height: 50px;
}

h2 {
    position: relative;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 7px;
    font-size: 1em;
    font-weight: 300;
    margin-left: 25px;
}

h2::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 3px solid #94E1CE;
    width: 40px;
 }

 .dish {
    width: 86%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #ebebeb;
    overflow: hidden;
    text-overflow: ellipsis; 
 }

 .wrapper_dish {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
 }

p.price {
    font-weight: bold;
    font-size: 1em;
 }

/* LOAD SPINNER */

  