/*
violet : #9356DC
rose : #FF79DA
vert : #99E2D0
*/

/* DÉBUT CSS VERSION MOBILE */

@media screen and (max-width: 768px) {

    a.logo {
        width: 100%;
    }

    header, section:first-child {
        text-align: center;
    }

    header a.logo {
        font-size: 36px;
        box-shadow: 3px 3px 3px #CFCFCF;
        padding: 18px 0px 9px 0px;
        z-index: 1;
    }
    
    header p {
        background-color: #EAEAEA;
        margin: 0;
        padding: 18px 0;
    }
}


/* DÉBUT VERSION GÉNÉRALE */

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Roboto, sans-serif;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

main {
    background-color: #F6F6F6;
}

section:nth-of-type(2) {
    background-color: #fff;
}

footer {
    background-color: #353535;
}

footer a {
    color: #fff;
}

.logo {
    font-family: Shrikhand, serif;
}