/*
violet : #9356DC
rose : #FF79DA
vert : #99E2D0
*/

/* DÉBUT CSS VERSION MOBILE */

@media screen and (max-width: 768px) {

    header, section:first-child {
        text-align: center;
    }

    header {
        font-size: 36px;
        padding: 18px 0px 9px 0px;
    }
    
    p.localisation {
        background-color: #EAEAEA;
        box-shadow: inset 0px 3px 3px #CFCFCF;
        margin-top: 0;
        padding: 18px 0;
        font-weight: bold;
    }

    h1 {
        margin-top: 35px;
    }
}


/* DÉBUT VERSION GÉNÉRALE */

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Roboto, sans-serif;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

main {
    background-color: #F6F6F6;
}

section:nth-of-type(1) > h1, p {
    padding: 0 40px;
}

section:nth-of-type(2) {
    background-color: #fff;
}

section:nth-of-type(2), section:nth-of-type(3) {
    padding: 15px 15px;
}

footer {
    background-color: #353535;
    padding: 5px 0 15px 0;
}

footer a {
    color: #fff;
    line-height: 1.8em;
    font-size: 0.9em;
}

.logo, .logo_footer {
    font-family: Shrikhand, serif;
}

.logo_footer {
    font-size: 1em;
}

button.button_our-restaurants {
    border: none;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 25px;
    padding: 10px 20px;
    color: #fff;
    box-shadow: 3px 3px 10px #d1d0d0;
    margin: 15px 0 30px 0;
    font-weight: 595;
}

.button_fonctions {
    border: none;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 3px 3px 10px #d1d0d0;
    margin: 15px 0 30px 0;
    font-weight: 595;
}

.button_fonctions:hover {
    background-color: #F5EDFF;
}

li.button_fonctions i {
    margin: 20px;
}

li.button_fonctions i:hover {
    color: #9356DC;
}

section p {
    font-weight: 300;
}